# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${HOME}/source/poky/meta \
  ${HOME}/source/poky/meta-poky \
  ${HOME}/source/poky/meta-yocto-bsp \
  ${HOME}/source/poky/meta-openembedded/meta-oe \
  ${HOME}/source/poky/meta-openembedded/meta-networking \
  ${HOME}/source/poky/meta-openembedded/meta-multimedia \
  ${HOME}/source/poky/meta-openembedded/meta-python \
  ${HOME}/source/poky/meta-raspberrypi \
  ${HOME}/source/poky/meta-qt5 \
  ${HOME}/source/myke/meta-myrpi \
"
